.people-image {
    font-size: 6em;
    color: lightgray;
    max-width: 100%;
    max-height: 90%;
    height:100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.people-name {
    font-weight: bold;
    align-content:center;
    text-align:center;
}

.people-block {
    height: 180px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    max-height: 180px;
    max-width: 160px;
    align-items: flex-start;
}
