.people-image {
    font-size: 6em;
    color: lightgray;
}

.people-name {
    font-weight: bold;
}

.people-block {
    height: 220px;
    width:200px;
    background-color:chocolate;
    max-width:250px;
    margin-left:10px;
    margin-right:10px;
    
}

