<div class="container">
<div class="header-blok">
  <div class="people-block thumbnail">
    <img [src]="profilepic" alt="your image" class="img-thumbnail" />
  </div>
  <div class="people-name">
    <p> {{firstname}} {{middlename}} {{surname}}</p>   
  </div>
  <div class="container-fluid">
    <p>{{designation}}</p>
  </div>


  <hr />
  <div class="aboutme">
    <h1>About {{firstname}}</h1>
    <p>{{aboutme}}</p>
    <hr />
  </div>
  
  <div class="container">
    <h1>Hobbies</h1>
  </div>
  <hr />
  <div class="container">
    <h1>Projects</h1>
  </div>
  <hr />
  <div class="container">
    <h1>Awards</h1>
  </div>
  <hr />
  <div class="container">
    <h1>Shout Outs</h1>
  </div>

</div>
