<h1>People Data</h1>

<p>This component demonstrates fetching People data from the server.</p>

<p *ngIf="!peopleList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/register-People']">Create New</a>
</p>

<table class='table' *ngIf="peopleList">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Sur Name</th>
      <th>Gender</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ppl of peopleList">
      <td>{{ ppl.Id }}</td>
      <td>{{ ppl.firstName }}</td>
      <td>{{ ppl.middleName }}</td>
      <td>{{ ppl.surName }}</td>
      <td>{{ ppl.gender }}</td>
      <td>
      <td>
        <a [routerLink]="['/People/edit/', ppl.Id]">Edit</a> |
        <a [routerLink]="" (click)="delete(ppl.Id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>