<div class="container-fluid row navbar-static-top">
  <div class="container xpo-banner">
    <img src="../../Images/XPO_Logo.png" class="xpologo" />
  </div>
  <div class='clearfix'></div>
  <div class="row">
    <spa-news></spa-news>
  </div>
  <hr />
  <div class="container-fluid">
    <hr />
    <div class="container col-md-12">
      <span class="header-blok xpo-header">Star Performers of the week </span>
      <spa-people-list [PplList]="PeopleList"></spa-people-list>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid row">
      <h1>Shout outs</h1>
      <div class="col-md-12">
        <spa-people-list [PplList]="StarList"></spa-people-list>

      </div>
    </div>
  </div>
</div>





