.firstsec{
   padding-left:-30px;
   
}

.xpologo {
    padding-top:20px;
    max-width: 200px;
    max-height: 80px;
}
.xpo-banner{
    border:medium;
    border-width:medium; 
    height:60px;
    padding-bottom:-20px;

}
.xpo-header{
    font-size:x-large;
    font-weight:200;
    padding-left:-20px;
}