<!--<div class="list-filter">
  <spa-product-filters [availableFilters]="filters"
                       [activatedFilters]="activeFilters"
                       (activeFilters)="updateActivatedFilters($event)"></spa-product-filters>
</div>-->
<div class="list-people-cover align-items-start">
  <div class="list-people" *ngFor="let item of PplList">
    <spa-people [id]="item.id"
                [firstname]="item.firstName"
                [gender]="item.gender"
                [profilepic] ="item.imageFile">
    </spa-people>
  </div>
</div>