.people-image {
    font-size: 6em;
    color: lightgray;
}

.people-name {
    font-weight: bold;
}
.list-people-cover{
    display:flex;
    justify-content:center;
    flex-flow:row wrap;
    align-content:flex-end;
}
.list-people{

}

