.people-image {
    font-size: 6em;
    color: lightgray;
}

.people-name {
    font-weight: bold;
}
.list-people-cover{
    background-color:blueviolet;
    
}
.list-people{
    background-color:aqua;

}

